@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.drawer-side a.active {
  color: white;
}

.drawer-side a {
  background-color: transparent !important;
  color: black;
}
